body {
    /* background-image: url(images/bg-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: black;
    font-family: 'Oswald', sans-serif;
    color: white;
}

section {
    height: 100vh;
}

hr {
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h1 {
    font-size: 40px;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    gap: 35px;
}

nav ul li {
    font-size: 18px;
}

nav ul li:hover {
    color: gray;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

#home {
    margin: 0;
    height: 70vh;
}

.home {
    margin: 100px;
    color: whitesmoke;
}

.home .row {
    display: flex;
    justify-content: space-around;
}

.home .row .col h2 {
    font-size: 50px;
}

.home .row .col p {
    font-size: 22px;
}

.home .row .col img {
    width: 250px;
    border-radius: 200px;

}
.about{
    margin: 0 10%;
    height: 80vh;
}

.about hr{
    width: 200px;
    position: relative;
    top: -50px;
}

.about h2 {
    text-align: center;
    font-size: 50px;
}

.about p {
    text-align: center;
    font-size: 19px;
   
}

.about .content .abt-img img {
    width: 300px;
    transform: rotate(270deg);
    border-radius: 10px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 170px;
    
}
.about .para p{
    width: 450px;
    text-align: left;
    text-align: justify;
}
.about .content .para .btn{
   border-radius: 10px;
   padding: 8px;
   background-color: grey;
   color: whitesmoke;
   border: 1px solid transparent;
   font-size: 20px;
   text-decoration: none;
}
.about .content .para .btn:hover{
    color: grey;
    background-color: white;
    transition: 0.2s ease-in-out;
    border: 1px solid grey;
}
#skills{
    height: 80vh;
}
.skills h2{
text-align: center;
font-size: 60px;
}
.skills hr{
    width: 134px;
    /* position: absolute; */
    position: relative;
    top: -60px;
    }
.skills .content .contentp{
    width: 500px;
    font-size: 20px;
}
.skills .content .contentr{
    
    font-size: 20px;
}
.para b{
    color: grey;
    font-size: 24px;
}
.para{
    text-align: justify;
}
.right{
    width: 400px;
}
.right .bars{
    margin-bottom: 15px;
}
.right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.right span{
    font-weight: 500;
    font-size: 18px;
}
.right .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}
.right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: grey;
}
.right .html::before{
    width: 90%;
}
.right .css::before{
    width: 70%;
}
.right .python::before{
    width: 65%;
}
.right .javascript::before{
    width: 45%;
}


/* contact section  */
.contact .max-width h2{
    text-align: center;
}
.contact .max-width .contact-content{
    display: flex;
    margin: 0 150px;

}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: grey;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    height: 100%;
    width: 100%;
    border: 2px solid grey;
    background: grey;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: grey;
    background: none;
}